/* styles.css */
body{
  margin: 0;
  padding: 0;
  background-color: aqua;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.myfooter{
  margin-top: auto;
  text-align: center;
}

/* --------------------------------------------iske upper ki kam ni kar rahi -------------------- */

.courselistcard{
  display: flex;
  width: 100%;
  padding-top:20px ;
  align-items: center;
  justify-content: center;
}

